@model FenXiao.Model.Apply
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">
            后台管理 <small>申请详情</small>
        </h3>
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="/Admin/AHome/Index">主页</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="/admin/AApply/index">未处理申请</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">申请详情</a>
            </li>
        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>
<div>
    <table class="table table-hover" style="width:80%;margin:0 auto;">
        <thead>
            <tr>
                <th>属性名</th>
                <th colspan="2">属性值</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>公司ID</td>
                <td colspan="2">@Model.Id</td>
            </tr>
            <tr>
                <td>公司名称</td>
                <td colspan="2">@Model.Company.CompanyName</td>
            </tr>
            <tr>
                <td>申请时间</td>
                <td colspan="2">@Model.CreateTime</td>
            </tr>
            <tr>
                <td>申请成为</td>
                <td colspan="2">@(Model.ApplyRole == 1 ? "批发商" : "零售商")</td>
            </tr>
            @*如果是申请成为零售商, 则直接读取其公司的信息*@
            @if (Model.ApplyRole == 0)
            {
                <tr>
                    <td>旅行者责任险</td>
                    <td colspan="2">
                        <img src="@Model.Company.LvXingSheZeRenXian" />
                    </td>
                </tr>
                <tr>
                    <td>人生意外险</td>
                    <td colspan="2">
                        <img src="@Model.Company.RenShenYiWaiXian" />
                    </td>
                </tr>
                <tr>
                    <td>荣誉称号</td>
                    <td colspan="2">
                        <img src="@Model.Company.RongYuChengHao" />
                    </td>
                </tr>
                <tr>
                    <td>A级旅行社</td>
                    <td colspan="2">
                        <img src="@Model.Company.AjiLuXingShe" />
                    </td>
                </tr>
            }
            else
            {
                <tr>
                    <td>旅行者责任险</td>
                    <td colspan="2">
                        @if (Model.LvXingSheZeRenXian == null)
                        {
                            <p>该申请用户没有上传资料</p>
                        }
                        else
                        {
                            <img src="@Model.LvXingSheZeRenXian" />
                        }
                    </td>
                </tr>
                <tr>
                    <td>人生意外险</td>
                    <td colspan="2">
                        @if (Model.RenShenYiWaiXian == null)
                        {
                            <p>该申请用户没有上传资料</p>
                        }
                        else
                        {
                            <img src="@Model.RenShenYiWaiXian" />
                        }
                    </td>
                </tr>
                <tr>
                    <td>荣誉称号</td>
                    <td colspan="2">
                        @if (Model.RongYuChengHao == null)
                        {
                            <p>该申请用户没有上传资料</p>
                        }
                        else
                        {
                            <img src="@Model.RongYuChengHao" />
                        }
                    </td>
                </tr>
                <tr>
                    <td>A级旅行社</td>
                    <td colspan="2">
                        @if (Model.AjiLuXingShe == null)
                        {
                            <p>该申请用户没有上传资料</p>
                        }
                        else
                        {
                            <img src="@Model.AjiLuXingShe" />
                        }
                    </td>
                </tr>
            }            
        </tbody>
    </table>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="note note-warning">
            <form class="form-horizontal" role="form" method="post" action="/Admin/AApply/DealApply">
                @Html.HiddenFor(a=>a.Id)
                <div class="form-group form-group-sm">
                    <label class="col-sm-2 control-label" for="searchContent">处理该条申请:</label>
                    <div class="col-sm-7">
                        <textarea rows="4" style="resize:none;" class="form-control" id="Reason" name="Reason" placeholder="处理理由"></textarea>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group form-group-sm" style="margin-top:2em;">
                            <label class="radio-inline">
                                <input type="radio" name="Choice" checked="checked" value="yes"> 同意
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="Choice" value="no"> 拒绝
                            </label>
                        </div>
                        <button type="submit" class="btn btn-group-sm btn-info"> 提交 </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
