@using FenXiao.Web.Common
@model FenXiao.Web.Areas.Marketer.Models.LineTypeModel
@{
    Layout = null;
}

@*@for (int i = 0; i < Model.LuXianTypes.Count; i++)
    {
        <ul>
            @for (int j = 0; j < Model.LuXianTypes.ElementAt(i).Count(); j++)
            {
                if (j == 0)
                {
                    <li><span class="title">@Model.LuXianTypes.ElementAt(i).ElementAt(0).TypeName</span></li>
                    if (Model.Choose.Contains(Model.LuXianTypes.ElementAt(i).ElementAt(0).Id))
                    {
                        <li><input type="radio" value="@TypeHelper.ConvertToTypeString(Model.Choose, Model.LuXianTypes.ElementAt(i).ElementAt(0).Id,0)" checked><span>无</span></li>

                        <li><a class="choosed"><span>大连</span></a></li>
                    }
                    else
                    {
                        <li><input type="radio" value="@TypeHelper.ConvertToTypeString(Model.Choose, Model.LuXianTypes.ElementAt(i).ElementAt(0).Id,0)"><span>无</span></li>
                    }
                }
                else
                {
                    if (Model.Choose.Contains(Model.LuXianTypes.ElementAt(i).ElementAt(j).Id))
                    {
                        <li><input type="radio" value="@TypeHelper.ConvertToTypeString(Model.Choose, Model.LuXianTypes.ElementAt(i).ElementAt(j).Id,i)" checked><span>@Model.LuXianTypes.ElementAt(i).ElementAt(j).TypeName</span></li>
                    }
                    else
                    {
                        <li><input type="radio" value="@TypeHelper.ConvertToTypeString(Model.Choose, Model.LuXianTypes.ElementAt(i).ElementAt(j).Id,i)"><span>@Model.LuXianTypes.ElementAt(i).ElementAt(j).TypeName</span></li>
                    }

                }
            }
            <div class="clear" title="旅游分销"></div>
        </ul>
    }*@
@for (int i = 0; i < Model.LuXianTypes.Count; i++)
{
    <ul>
        @for (int j = 0; j < Model.LuXianTypes.ElementAt(i).Count(); j++)
        {
            if (j == 0)
            {
                <li><span class="title">@Model.LuXianTypes.ElementAt(i).ElementAt(0).TypeName</span></li>
                if (Model.Choose.Contains(Model.LuXianTypes.ElementAt(i).ElementAt(0).Id))
                {
                    <li>
                        <a class="choosed" href="#"
                           data-val="@Model.LuXianTypes.ElementAt(i).ElementAt(0).Id"
                           data-per="@Model.LuXianTypes.ElementAt(i).ElementAt(0).Id"
                           onclick="javascripts:xm_search(this)"><span>全部</span></a>
                    </li>
                }
                else
                {
                    <li>
                        <a href="#"
                           data-val="@Model.LuXianTypes.ElementAt(i).ElementAt(0).Id"
                           data-per="@Model.LuXianTypes.ElementAt(i).ElementAt(0).Id"
                           onclick="javascripts: xm_search(this)"><span>全部</span></a>
                    </li>
                }
            }
            else
            {
                if (Model.Choose.Contains(Model.LuXianTypes.ElementAt(i).ElementAt(j).Id))
                {

                    <li>
                        <a href="#"
                           class="choosed"
                           data-val="@Model.LuXianTypes.ElementAt(i).ElementAt(j).Id"
                           data-per="@Model.LuXianTypes.ElementAt(i).ElementAt(0).Id"
                           onclick="javascripts: xm_search(this)">
                            <span>@Model.LuXianTypes.ElementAt(i).ElementAt(j).TypeName</span>
                        </a>
                    </li>
                }
                else
                {
                    <li>
                        <a href="#"
                           data-val="@Model.LuXianTypes.ElementAt(i).ElementAt(j).Id"
                           data-per="@Model.LuXianTypes.ElementAt(i).ElementAt(0).Id"
                           onclick="javascripts: xm_search(this)">
                            <span>@Model.LuXianTypes.ElementAt(i).ElementAt(j).TypeName</span>
                        </a>
                    </li>
                }

            }
        }
        <div class="clear" title="站高层"></div>
    </ul>
}
