@using Webdiyer.WebControls.Mvc﻿
@model FenXiao.Web.Areas.Marketer.Models.LineSearchModel
@section title{
    <title>零售商-路线搜索</title>
    <link href="~/Scripts/jQueryUI/jquery-ui.css" rel="stylesheet" />
    <link href="~/assets/bootstrap.min.css" rel="stylesheet" />
}
<div class="h60"></div>
<div class="part">
    <p class="position">◆当前位置：搜索线路</p>

    <div class="search_part">
        <div class="search_input">
            <form method="post" action="\Marketer\MSearch\LineSearchByKey">
                <p class="search_input_part">
                    <input type="text" class="search_input_text" id="key" name="key" placeholder="请输入搜索路线的关键词">
                    <button type="submit" class="search_input_btn" id="submit">搜索路线</button>
                </p>
            </form>
        </div>
        <div class="search_quick">
            <span class="search_quick_title ml100" style="color:#53b9fb">快捷搜索:</span>
            <span class="search_quick_title ml80">旅游公司:</span>
            @Html.Action("LineSearchByRangeParialView")
            <span class="search_quick_title ml100">发布时间:</span>
            <ul>
                <li>
                    <a class="choosed" href="~/Marketer/MSearch/LineSearchByRange?type=OneWeek" >
                        <span>一周以内</span>
                    </a>
                </li>
                <li>
                    <a href="~/Marketer/MSearch/LineSearchByRange?type=TwoWeeks">
                        <span>两周以内</span>
                    </a>
                </li>
                <li>
                    <a href="~/Marketer/MSearch/LineSearchByRange?type=OneMonth">
                        <span>一个月以内</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="single_tab" id="AditionTab" style="display:none;">
            <p>可选搜索条件</p>
        </div>
        <div class="search_input_adition" id="SearchAdition" style="display:none;">
            @Html.Action("LineTypePage", new { Choose = Model.Choose, type = Model.type })
            <ul class="date_addtion" id="date_addition">
                <li><span class="title">发团时间</span></li>
                <div style="position:relative;" id="ChooseTime">
                    <li>
                        <input value="@Model.from" type="text" name="date-start" id="datepicker1" readonly> 到　
                        <input value="@Model.to" type="text" name="date-finish" id="datepicker2" readonly>
                    </li>
                </div>             
                <div class="clear" title="站高层"></div>
            </ul>
            <div class="clear" title="站高层"></div>
        </div>
    </div>
    <!--搜索结果隐藏条-->
    <div class="search_more">
        <p id="AddSearchAdition">↓点击这里，添加更多搜索条件</p>
    </div>
    <!--搜索结果区域-->
    <div class="search_input_result_tab">
        <p>搜索结果</p>
    </div>
    @foreach (var item in Model.res)
    {
        <div class="line_details_title">
            <div class="title_left">
                <h1>
                    <a href="~/Marketer/MSearch/LineDetail?Id=@item.Id">
                        <small>No.@item.Id　</small>
                        @item.Name
                    </a>
                    @if (item.IsHot == 1)
                    {
                        <img src="~/images/hot.gif">
                    }
                </h1>
                <p>发团时间：<span class="f-lightblue">@item.SendGroupTime.ToString("yyyy年MM月dd日")</span>　　　总数：<span class="f-lightblue">@(item.Count)份</span>　　剩余量：<span style="color:red">@(item.RemainCount)份</span></p>
                <p>建议零售价：<span>@(item.SuggestionPrice)元</span>　　　　快捷操作：<a href="~/Marketer/MSearch/LineDetail?Id=@item.Id" class="f-lightblue">1.查看详情</a>　　　<a class="f-lightblue" href="/Home/DownLuXian/@item.Id" target="_blank">2.下载行程</a></p>
                <p>批发商：<span class="f-lightblue">@item.User.Company.CompanyName</span></p>
            </div>
            <div class="title_right">
                <div class="title_right_others">
                    <p class="price">成人价：<span class="number">￥@(item.ChengRenPrice)</span>元</p>
                    <p class="price">儿童价：<span class="number">￥@(item.ErTongPrice)</span>元</p>
                    @if (item.RemainCount == 0)
                    {
                        <a href="#"><span class="btn_sub" style="color:red">已售罄！</span></a>
                    }
                    else
                    {
                        <a href="~/Marketer/MSearch/ReserveNow?ProductId=@item.Id"><span class="btn_sub" style="margin:7px">立即占位！</span></a>
                        <a href="~/Marketer/MSearch/DirectApplyOrder?ProductId=@item.Id"><span class="btn_sub" style="margin:0px">直接报名！</span></a>
                    }                   
                </div>
                <b class="waveline"></b>
            </div>
        </div>

    }
    <div style="text-align:center; margin-left:-2em;">
        @Html.Pager(Model.res, new PagerOptions
                 {
                     HorizontalAlign = "center",
                     ShowFirstLast = false,
                     CssClass = "pagination pagination-sm",
                     NavigationPagerItemWrapperFormatString = "<li>{0}</li>",
                     ContainerTagName = "ul",
                     PageIndexParameterName = "id",
                     ShowPageIndexBox = false,
                     PrevPageText = "<<",
                     NumericPagerItemCount = 3,
                     Id = "pages",
                     NextPageText = ">>",
                     CurrentPagerItemWrapperFormatString = "<li class=\"active\"> <a>{0}</a> </li>",
                     NumericPagerItemWrapperFormatString = "<li> {0}</li>",
                 }, new { style = "margin-top:2em;margin-bottom:2em" })
    </div>
    @if (Model.res.Count == 0)
    {
        <p style="text-align:center;line-height:100px;">暂无相关线路</p>
    }
</div>

@section scripts{
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
     <script src="~/Scripts/jQueryUI/jquery-ui.js" type="text/javascript"></script>
    <script type="text/javascript">
        LeftMenuSelect(0);
    </script>
    <script>
        $(function () {
            $("#datepicker1").datepicker({
                changeMonth: true,  //月份下拉列表
                changeYear: true,  //月份下拉列表
                showOn: "both",    //点击图片和输入框都弹出面板
                showButtonPanel: true, //显示面板底部按钮
                closeTextType: "关闭", //关闭按钮文字
                currentText: "今天",   //返回今天按钮文字
                dateFormat: "yy-mm-dd",
                dayNamesMin: ['日', '一', '二', '三', '四', '五', '六'],
                monthNames: ['一月', '二月', '三月', '四月', '五月', '六月',
                '七月', '八月', '九月', '十月', '十一月', '十二月'],
                monthNamesShort: ['一月', '二月', '三月', '四月', '五月', '六月',
                '七月', '八月', '九月', '十月', '十一月', '十二月']
            });
            $("#datepicker2").datepicker({
                changeMonth: true,  //月份下拉列表
                changeYear: true,  //月份下拉列表
                showOn: "both",    //点击图片和输入框都弹出面板
                showButtonPanel: true, //显示面板底部按钮
                closeTextType: "关闭", //关闭按钮文字
                currentText: "今天",   //返回今天按钮文字
                dateFormat: "yy-mm-dd",
                dayNamesMin: ['日', '一', '二', '三', '四', '五', '六'],
                monthNames: ['一月', '二月', '三月', '四月', '五月', '六月',
                '七月', '八月', '九月', '十月', '十一月', '十二月'],
                monthNamesShort: ['一月', '二月', '三月', '四月', '五月', '六月',
                '七月', '八月', '九月', '十月', '十一月', '十二月'],
                onSelect: function (event, ui) {
                    var app = "";
                    $("a.choosed").each(function () {
                        app += $(this).data("val") + "a";
                    });
                    app = app.substring(0, app.length - 1)
                    location.href = "/Marketer/MSearch/LineSearch?type=" + app +
                        "&from=" + $("#datepicker1").val()
                        + "&to=" + $("#datepicker2").val();
                }
            });
            $("#AddSearchAdition").click();
        });
        function xm_search(obj) {
            var app = "";
            var curval = $(obj).data("val");
            var curper = $(obj).data("per");
            $("a.choosed").each(function () {
                if ($(this).data("per") == curper) {
                    app += curval + "a";
                } else {
                    app += $(this).data("val") + "a";
                }
            });
            app = app.substring(0, app.length - 1)
            if ($("#datepicker1").val() == "") {
                location.href = "/Marketer/MSearch/LineSearch?type=" + app;
            } else {
                location.href = "/Marketer/MSearch/LineSearch?type=" + app +
                        "&from=" + $("#datepicker1").val()
                        + "&to=" + $("#datepicker2").val();
            }

        }
    </script>
    <script type="text/javascript">
        function SearchByTravelAgency(obj) {
            if ($(obj).val() != "-1")
                location.href = "/Marketer/MSearch/LineSearchByRange?TravelAgencyId=" + $(obj).val();
        }
    </script>
}
