
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@using Webdiyer.WebControls.Mvc
@using FenXiao.Model
@model PagedList<ReturnForm>

<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">
            后台管理 <small>线路出售情况</small>
        </h3>
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="/Admin/AHome/Index">主页</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="/Admin/ALine/Alllines">所有线路</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">线路出售详情</a>
            </li>
        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN SAMPLE TABLE PORTLET-->
        <div class="portlet">
            <div class="portlet-title">
                @*<div class="caption"><i class="fa fa-bell-o"></i>客户列表</div>*@
                <ul class="nav nav-pills" role="tablist">
                    <li role="presentation"><a href="/admin/aline/Line_AllCustomer?productId=@ViewBag.productId">线路客户</a></li>
                    <li role="presentation"><a href="/admin/aline/Line_AllCompany?productId=@ViewBag.productId">出售公司</a></li>
                    <li role="presentation"><a href="/admin/aline/Line_AllOrder?productId=@ViewBag.productId">订单列表</a></li>
                    <li role="presentation" class="active"><a href="#">退单列表</a></li>
                </ul>
            </div>
            <div class="portlet-body">
                <div class="table-responsive">
                    <div class="details_part">
                        <div class="top_line">
                            <p>
                                <input type="text" placeholder="输入订单号" id="returnorderid">
                                <button onclick="search(this)" style="border: none; background: #f5f5f5; color: #3c3c3c; cursor: pointer; border: 1px solid #ccc;">订单搜索</button>
                            </p>
                        </div>
                    </div>
                    <table class="table table-striped table-bordered table-advance table-hover">
                        <thead>
                            <tr>
                                <th><i class="fa fa-briefcase"></i> #编号</th>
                                <th><i class="fa fa-briefcase"></i> 线路名称</th>
                                <th><i class="fa fa-briefcase"></i> 下退单公司</th>
                                <th><i class="fa fa-briefcase"></i> 下退单人</th>
                                <th><i class="fa fa-shopping-cart"></i> 数量</th>
                                <th><i class="fa fa-gavel"></i> 状态</th>
                                <th><i class="fa fa-gavel"></i> 操作</th>
                            </tr>
                        </thead>
                        <tbody id="tuidan">
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="highlight">
                                        <div class="warning"></div>
                                        <a href="#">@item.Id</a>
                                    </td>
                                    <td>
                                        <b>@item.Product.Name</b>
                                    </td>
                                    <td><a href="javascript:alert('公司联系方式:@item.Company.Phone')"> @item.Company.CompanyName</a></td>
                                    <td><a href="javascript:alert('个人联系方式:@item.User.Phone')"> @item.User.Name </a></td> 
                                    <td>@item.AllCount</td>
                                    <td>
                                        @if (item.State == (int)EnumReturnForm.chulidingdan)
                                        {
                                            <span>已审核</span>
                                        }
                                        else if (item.State == (int)EnumReturnForm.xiatuidan)
                                        {
                                            <span>待审核</span>
                                        }
                                        else if (item.State == (int)EnumReturnForm.quxiaodingdan)
                                        {
                                            <span>取消退单</span>
                                        }
                                    </td>
                                    <th><a href="/admin/aline/LineReturnOrderDetail/@item.Id" class="btn btn-default btn-xs purple">退单详情</a></th>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div style="text-align:center; margin-left:-2em;">
                @Html.Pager(Model, new PagerOptions
                 {
                     HorizontalAlign = "center",
                     ShowFirstLast = true,
                     FirstPageText = "首页",
                     LastPageText = "尾页",
                     CssClass = "pagination pagination-lg",
                     NavigationPagerItemWrapperFormatString = "<li>{0}</li>",
                     ContainerTagName = "ul",
                     PageIndexParameterName = "id",
                     ShowPageIndexBox = false,
                     PrevPageText = "<<",
                     NumericPagerItemCount = 10,
                     Id = "pages",
                     NextPageText = ">>",
                     CurrentPagerItemWrapperFormatString = "<li class=\"active\"> <a>{0}</a> </li>",
                     NumericPagerItemWrapperFormatString = "<li> {0}</li>",
                 }, new { style = "margin-top:2em;margin-bottom:2em" })
            </div>
        </div>
        <!-- END SAMPLE TABLE PORTLET-->
    </div>
</div>@section scripts{
    <script type="text/javascript">
        function search(btu) {
            if ($(btu).hasClass('stop')) {
                return false;
            }
            var regBox = {
                regCount: /^[1-9]\d*$/
            }

            if ($("#returnorderid").val() == '') {
                location.reload();
                return false;
            }
            else if (!regBox.regCount.test($("#returnorderid").val())) {
                alert('订单号必须为大于零的整数');
                return false;
            }

            $.ajax({
                url: "/Admin/Aline/ReturnOrderSearch",
                type: "get",
                data: {
                    returnorderid: $("#returnorderid").val(),
                },
                beforeSend: function (XMLHttpRequest) {
                    $(btu).html("搜索中...");
                    $(btu).addClass('stop');
                },
                success: function (data, textStatus) {
                    $("#tuidan").html(data);
                },
                complete: function (XMLHttpRequest, textStatus) {
                    $(btu).html("订单搜索");
                    $(btu).removeClass('stop');
                },
                error: function () {
                    alert("好像出错了，请刷新页面重试");
                }
            });
        }
    </script>
}