
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@using Webdiyer.WebControls.Mvc
@using FenXiao.Model
@model PagedList<OrderForm>

<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">
            后台管理 <small>线路出售情况</small>
        </h3>
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="/Admin/AHome/Index">主页</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="/Admin/ALine/Alllines">所有线路</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">线路出售详情</a>
            </li>
        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN SAMPLE TABLE PORTLET-->
        <div class="portlet">
            <div class="portlet-title">
                @*<div class="caption"><i class="fa fa-bell-o"></i>客户列表</div>*@
                <ul class="nav nav-pills" role="tablist">
                    <li role="presentation"><a href="/admin/aline/Line_AllCustomer?productId=@ViewBag.productId">线路客户</a></li>
                    <li role="presentation"><a href="/admin/aline/Line_AllCompany?productId=@ViewBag.productId">出售公司</a></li>
                    <li role="presentation" class="active"><a href="#">订单列表</a></li>
                    <li role="presentation"><a href="/admin/aline/Line_AllReturnOrder?productId=@ViewBag.productId">退单列表</a></li>
                </ul>
            </div>
            <div class="portlet-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-advance table-hover">
                        <thead>
                            <tr>
                                <th><i class="fa fa-briefcase"></i> #编号</th>
                                <th><i class="fa fa-briefcase"></i> 线路名称</th>
                                <th><i class="fa fa-briefcase"></i> 公司名称</th>
                                <th><i class="fa fa-shopping-cart"></i> 数量</th>
                                <th><i class="fa fa-gavel"></i> 状态</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="highlight">
                                        <div class="warning"></div>
                                        <a href="#">@item.Id</a>
                                    </td>
                                    <td>
                                        <b>@item.Product.Name</b>
                                    </td>
                                    <td>@item.Company.CompanyName</td>
                                    <td>@item.AllCount</td>                                    
                                    <td>
                                        @if (item.State == (int)EnumOrderForm.DirectApplyOrder)
                                        {
                                            <span>直接订单</span>
                                            <span style="color:#00FF7F">下单成功</span>
                                        }
                                        else if (item.State == (int)EnumOrderForm.DirectApplyOrderEditing)
                                        {
                                            <span>直接订单</span>
                                            <span style="color:#8A2BE2">正在编辑</span>
                                        }
                                        else
                                        {
                                            <b>占位订单</b>
                                            <a href="javascript:alert('联系方式: \n 买家公司:@item.Company.CompanyPhone \n 下单人:@item.User.Phone')">联系方式</a>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div style="text-align:center; margin-left:-2em;">
                @Html.Pager(Model, new PagerOptions
                 {
                     HorizontalAlign = "center",
                     ShowFirstLast = true,
                     FirstPageText = "首页",
                     LastPageText = "尾页",
                     CssClass = "pagination pagination-lg",
                     NavigationPagerItemWrapperFormatString = "<li>{0}</li>",
                     ContainerTagName = "ul",
                     PageIndexParameterName = "id",
                     ShowPageIndexBox = false,
                     PrevPageText = "<<",
                     NumericPagerItemCount = 10,
                     Id = "pages",
                     NextPageText = ">>",
                     CurrentPagerItemWrapperFormatString = "<li class=\"active\"> <a>{0}</a> </li>",
                     NumericPagerItemWrapperFormatString = "<li> {0}</li>",
                 }, new { style = "margin-top:2em;margin-bottom:2em" })
            </div>
        </div>
        <!-- END SAMPLE TABLE PORTLET-->
    </div>
</div>
