@model ReturnForm
@section title{
    <title>零售商-退单管理-退单详情</title>
}

<div class="h60"></div>
<div class="part">
    <p class="position">◆当前位置：退单管理>>退单详情</p>
    <!--订单信息板块-->
    <div class="line_order_details">
        <div class="single_tab"><p>退货单信息</p></div>
        <div class="line_order_body">
            <p class="single">退货单号：　<span>@Model.Id</span>　　　发单时间：<span>@Model.CreateTime</span>　　　　订单状态：
                @if (Model.State == (int)EnumReturnForm.xiatuidan)
                {
                    <span class="f-orange">待确认</span>
                }
                else if (Model.State == (int)EnumReturnForm.quxiaodingdan)
                {
                    <span class="f-orange">已拒绝</span>
                }
                else
                {
                    <span class="f-orange">已通过</span>
                }
            </p>
            <p class="single">下单人员：<span>@Model.User.Company.CompanyName  @Model.User.Name</span>
            <p class="single">下单人员联系方式：<br /><span class="ml100">李森　　电话：@Model.User.Phone</span></p>
            <p class="single">
                理由：<span>@Model.Note</span>
            </p>
            <hr>
            <p class="single">所属线路：<a class="f-lightblue" href="#">@Model.Product.Name</a></p>
            <p class="single">批发商联系方式：<br /><span class="ml100">@Model.Company.CompanyName　　电话：@Model.Company.CompanyPhone</span></p>
            @if (Model.State != (int)EnumReturnForm.xiatuidan)
            {
                foreach (var item in Model.HandleReturnForms)
                {
                    <p class="single">处理订单人员：<br /><span class="ml100">@item.User.Name　　电话：@item.User.Phone</span></p>
                    <p class="single">理由：<br /><span class="ml100">@item.Reason</span></p>
                }
            }
            
            <hr>
            <p class="single">
                具体退货信息：<br />
                <table class="center table_withline">
                    <thead>
                        <tr>
                            <th>序号</th>
                            <th>商品种类</th>
                            <th>退货数量</th>
                            <th>单价价格</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>#1</td>
                            <td>成人票</td>
                            <td>@(Model.ChengRenCount)份</td>
                            <td>￥@Model.ChengRenPrice</td>
                        </tr>
                        <tr>
                            <td>#2</td>
                            <td>儿童票</td>
                            <td>@(Model.ErTongCount)份</td>
                            <td>￥@Model.ErTongPrice</td>
                        </tr>
                    </tbody>
                </table>
            </p>
            <p class="single">
                <span class="company_btn" onclick="history.back();">返回</span>
            </p>
        </div>
    </div>
</div>	

@section scripts{
    <script type="text/javascript">
        $("#Menu").children("li").eq(0).removeClass("active");
        $("#Menu").children("li").eq(1).removeClass("active");
        $("#Menu").children("li").eq(2).removeClass("active");
        $("#Menu").children("li").eq(3).removeClass("active");
        $("#Menu").children("li").eq(4).removeClass("active");
        $("#Menu").children("li").eq(5).removeClass("active");
        $("#Menu").children("li").eq(3).addClass("active");
    </script>
}