@model PagedList<OrderForm>
@{
    Layout = "~/Areas/Wholesaler/Views/Shared/_Layout.cshtml";
}
<link href="~/assets/bootstrap.min.css" rel="stylesheet" />
<div class="h60"></div>
<div class="part">
    <p class="position">◆当前位置：订单管理</p>
    <div class="search_total" style="margin-top:0px;">
        <div class="details_part">
            <div class="top_line">
                <p>
                    <input type="text" placeholder="输入订单号" id="orderid">
                    <button onclick="search()">订单搜索</button>
                </p>
            </div>
        </div>
    </div>
    <!--路线管理板块-->
    <div class="line_manage">
        <div class="line_manage_infor" id="ManageInfor">
            <div class="h30"></div>
            <!--正在出售-->
            <table class="table" id="SellingTable">
                <thead>
                    <tr>
                        <th>#编号</th>
                        <th>线路名称</th>
                        <th>公司名称</th>
                        <th>数量</th>
                        <th>联系方式（公司|下单人）</th>
                        <th>详情</th>
                    </tr>
                </thead>
                <tbody class="fs08 tcenter" id="dingdan">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Product.Name</td>
                            <td>@item.User.Company.CompanyName</td>
                            <td>@item.AllCount</td>
                            <td>
                                @item.User.Company.CompanyPhone<br />
                                @item.User.Phone
                            </td>
                            <td>
                                <a href="~/Wholesaler/WOrder/OrderDetial/@item.Id">
                                    <span class="company_btn">订单详情</span>
                                </a>
                            </td>
                        </tr>
                    }
                    <div style="text-align:center; margin-left:-2em;">
                        @Html.Pager(Model, new PagerOptions
                 {
                     HorizontalAlign = "center",
                     ShowFirstLast = false,
                     CssClass = "pagination pagination-sm",
                     NavigationPagerItemWrapperFormatString = "<li>{0}</li>",
                     ContainerTagName = "ul",
                     PageIndexParameterName = "id",
                     ShowPageIndexBox = false,
                     PrevPageText = "<<",
                     NumericPagerItemCount = 3,
                     Id = "pages",
                     NextPageText = ">>",
                     CurrentPagerItemWrapperFormatString = "<li class=\"active\"> <a>{0}</a> </li>",
                     NumericPagerItemWrapperFormatString = "<li> {0}</li>",
                 }, new { style = "margin-top:2em;margin-bottom:2em" })
                    </div>
                </tbody>
            </table>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        function search(btu) {
            if ($(btu).hasClass('stop')) {
                return false;
            }
            var regBox = {
                regCount: /^[1-9]\d*$/
            }

            if ($("#orderid").val() == '') {
                alert('订单号不能为空');
                return false;
            }
            else if (!regBox.regCount.test($("#orderid").val())) {
                alert('订单号必须为大于零的整数');
                return false;
            }

            $.ajax({
                url: "/Wholesaler/WHome/HandlingOrderParialView",
                type: "get",
                data: {
                    orderid: $("#orderid").val(),
                },
                beforeSend: function (XMLHttpRequest) {
                    $(btu).html("搜索中...");
                    $(btu).addClass('stop');
                },
                success: function (data, textStatus) {
                    $("#dingdan").html(data);
                },
                complete: function (XMLHttpRequest, textStatus) {
                    $(btu).html("订单搜索");
                    $(btu).removeClass('stop');
                },
                error: function () {
                    alert("好像出错了，请刷新页面重试");
                }
            });
        }
    </script>
    <script type="text/javascript">
        $("#Menu").children("li").eq(0).removeClass("active");
        $("#Menu").children("li").eq(1).removeClass("active");
        $("#Menu").children("li").eq(2).removeClass("active");
        $("#Menu").children("li").eq(3).removeClass("active");
        $("#Menu").children("li").eq(4).removeClass("active");
        $("#Menu").children("li").eq(5).removeClass("active");
        $("#Menu").children("li").eq(2).addClass("active");
    </script>
}
