@model OrderForm
@{
    Layout = "~/Areas/Wholesaler/Views/Shared/_Layout.cshtml";
}
<div class="h60"></div>
<div class="part">
    <p class="position">◆当前位置：线路管理>>当前路线管理>>订单详情</p>
    <!--订单信息板块-->
    <div class="line_order_details">
        <div class="single_tab"><p>当前订单信息</p></div>
        <div class="line_order_body">
            @if (Model.State == (int)EnumOrderForm.xiadingdan)
            { <p class="single">
                订单号：　<span>@Model.Id</span>　　　下单时间：<span>@Model.CreateTime.ToString("yyyy年MM月dd日，HH点mm分")</span>　　　　订单状态：
                <span class="f-green">待收款</span>
            </p>
            }
            else
            {
                <p class="single">
                    订单号：　<span>@Model.Id</span>　　　下单时间：<span>@Model.CreateTime</span>　　　　订单状态：
                    <span class="f-green">已收款</span>
                </p>
            }
            <p class="single">下单人员公司：<span>@Model.User.Company.CompanyName　　电话：@Model.Company.Phone && @Model.Company.ZuoJi</span>
            <p class="single">下单人员联系方式：<br /><span class="ml100">@Model.User.Name　　电话：@Model.User.Phone</span></p>
            <p class="single">
                订单成员信息：<br />
                @foreach (var item in Model.CustomerInfoes)
                {
                    <span class="ml100">姓名：@item.Name　备注：@item.Phone</span>
                }

            </p>
            <hr>
            <p class="single">所属线路：<a class="f-lightblue" href="/Wholesaler/WHome/MyLuXianDetail/@Model.Product.Id">@Model.Product.Name</a></p>
            <p class="single">批发商联系方式：<br /><span class="ml100">@Model.Company.CompanyName　　电话：@Model.Company.CompanyPhone</span></p>
            
            
            <hr>
            <p class="single">
                具体采购信息：<br />
                <table class="center table_withline">
                    <thead>
                        <tr>
                            <th>序号</th>
                            <th>订单种类</th>
                            <th>状态</th>
                            <th>数量</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.State == (int)EnumOrderForm.ReserveNowOrder)
                        {
                            <tr>
                                <td>#@Model.Id</td>
                                <td>占位订单</td>
                                <td>占位</td>
                                <td>@(Model.AllCount)份</td>
                            </tr>
                        }
                        else if (Model.State == (int)EnumOrderForm.DirectApplyOrderEditing)
                        {
                            <tr>
                                <td>#@Model.Id</td>
                                <td>直接订单</td>
                                <td>正在编辑</td>
                                <td>@(Model.AllCount)份</td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td>#@Model.Id</td>
                                <td>直接订单</td>
                                <td>编辑完成</td>
                                <td>@(Model.CustomerInfoes.Count)份</td>
                            </tr>
                            <tr>
                                <td>#@Model.Id</td>
                                <td>直接订单</td>
                                <td>转占位</td>
                                <td>@(Model.AllCount-Model.CustomerInfoes.Count)份</td>
                            </tr>
                        }

                    </tbody>
                </table>
            </p>
            <p class="single_btn">
                <span class="btn_sub" onclick="history.back();">返回</span>
                @if (Model.State == (int)EnumOrderForm.xiadingdan)
                {
                    <a href="~/Wholesaler/WOrder/HandleOrder/@Model.ProductId">
                        <span class="btn_sub">确认订单收款</span>
                    </a>
                }
            </p>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $("#Menu").children("li").eq(0).removeClass("active");
        $("#Menu").children("li").eq(1).removeClass("active");
        $("#Menu").children("li").eq(2).removeClass("active");
        $("#Menu").children("li").eq(3).removeClass("active");
        $("#Menu").children("li").eq(4).removeClass("active");
        $("#Menu").children("li").eq(5).removeClass("active");
        $("#Menu").children("li").eq(2).addClass("active");
    </script>
}