
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/assets/plugins/select2/select2_metro.css" />
<link rel="stylesheet" href="~/assets/plugins/data-tables/DT_bootstrap.css" />
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">
            后台管理 <small>公司管理</small>
        </h3>
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="/Admin/AHome/Index">主页</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">公司管理</a>
            </li>
        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>
<div class="portlet box grey">
    <div class="portlet-title">
        <div class="caption"><i class="fa fa-edit"></i>注意事项</div>
        <div class="tools">
            <a href="javascript:;" class="expand"></a>
        </div>
    </div>
    <div class="portlet-body" style="display:none;">
        <div class="row">
            <div class="col-md-12">
                <div class="note note-info">
                    <h4 class="block">注意</h4>
                    <p>
                        这里管理所有的公司
                    </p>
                    <p>
                        其中创建时间越新的在页面排名越靠前
                    </p>
                    <p>
                        禁用公司会将该公司所有的帐号禁用
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN SAMPLE TABLE PORTLET-->
        <div class="portlet">
            <div class="portlet-title">
                <div class="caption"><i class="fa fa-bell-o"></i>公司列表</div>
            </div>
            <div class="portlet-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-advance table-hover" id="DataTable">
                        <thead>
                            <tr>
                                <th><i class="fa fa-briefcase"></i> 公司ID</th>
                                <th><i class="fa fa-briefcase"></i> 名称</th>
                                <th><i class="fa fa-briefcase"></i> 类型</th>
                                <th><i class="fa fa-shopping-cart"></i> 区域</th>
                                <th><i class="fa fa-gavel"></i> 地址</th>
                                <th><i class="fa fa-gavel"></i> 公司电话</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            @*@foreach (var item in Model)
                            {
                                <tr>
                                    <td class="highlight">
                                        <div class="warning"></div>
                                        <a href="#">@item.Id</a>
                                    </td>
                                    <td>
                                        <a href="/Admin/ACompany/CompanyDetail/@item.Id">@item.CompanyName</a>
                                    </td>
                                    <td>
                                        @if (item.CompanyRole.Split(',').Contains("0") && item.CompanyRole.Split(',').Contains("1"))
                                        {
                                            <span>批发商 & 零售商</span>
                                        }
                                        else if (item.CompanyRole.Split(',').Contains("0"))
                                        {
                                            <span>零售商</span>
                                        }
                                        else
                                        {
                                            <span>批发商</span>
                                        }
                                    </td>
                                    <td>@item.Province, @item.City</td>
                                    <td>@item.CompanyAddress</td>
                                    <td>@item.CompanyPhone</td>
                                    <td>
                                        <a href="/Admin/ACompany/CompanyDetail/@item.Id" class="btn default btn-xs purple"><i class="fa fa-edit"></i> 公司详情</a>
                                        @if (item.State == 1)
                                        {
                                            <a href="/Admin/ACompany/CompanyAccounts?comId=@item.Id" class="btn default btn-xs purple"><i class="fa fa-edit"></i> 管理帐号</a>
                                            <a href="/Admin/ACompany/CompanyChangeState/@item.Id" class="btn default btn-xs purple"><i class="fa fa-edit"></i> 禁用</a>
                                        }
                                        else
                                        {
                                            <button disabled class="btn default btn-xs grey"><i class="fa fa-edit"></i> 管理帐号</button>
                                            <a href="/Admin/ACompany/CompanyChangeState/@item.Id" class="btn default btn-xs green"><i class="fa fa-edit"></i> 恢复</a>
                                        }
                                    </td>
                                </tr>
                            }*@
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- END SAMPLE TABLE PORTLET-->
        </div>
    </div>
    @section scripts{
        <script type="text/javascript" src="~/assets/plugins/select2/select2.min.js"></script>
        <script type="text/javascript" src="~/assets/plugins/data-tables/jquery.dataTables.js"></script>
        <script type="text/javascript" src="~/assets/plugins/data-tables/DT_bootstrap.js"></script>
        <script type="text/javascript" charset="utf-8">
        var tbl;
        $(document).ready(function () {
            tbl = $('#DataTable').dataTable({
                "oLanguage": {//语言国际化
                    //"sUrl": "/Scripts/Plug-in/jquery.dataTable.cn.txt"
                    "sProcessing": '<i class="fa fa-coffee"></i>&nbsp;请稍后...',
                },
                "bJQueryUI": false,
                "sPaginationType": "bootstrap",
                'bPaginate': true,  //是否分页。
                "bProcessing": true, //当datatable获取数据时候是否显示正在处理提示信息。
                "bServerSide": false,
                "sAjaxSource": "/Admin/ACompany/GetAllCompany",
                "iDisplayLength": 10,
                "aoColumns": [
                                {
                                    "sTitle": "公司ID",
                                    "sClass": "center"
                                },
                                {
                                    "sTitle": "名称",
                                    "sClass": "center",
                                    "fnRender": function (obj) {
                                        return '<a href="/Admin/ACompany/CompanyDetail/' + obj.aData[0] + '">'+ obj.aData[1]+ '</a>'
                                    }
                                },
                                {
                                    "sTitle": "类型",
                                    "sClass": "center",
                                },
                                {
                                    "sTitle": "区域",
                                    "sClass": "center",
                                },
                                {
                                    "sTitle": "地址",
                                    "sClass": "center",
                                },
                                {
                                    "sTitle": "公司电话",
                                    "sClass": "center",
                                },
                                {
                                    "sTitle": "操作",
                                    "sClass": "center",
                                    "fnRender": function (obj) {
                                        var result = '<a href="/Admin/ACompany/CompanyDetail/' + obj.aData[0] + '" class="btn default btn-xs purple"><i class="fa fa-edit"></i> 公司详情</a> ';
                                        if (obj.aData[6] == 1) {
                                            result = result + '<a href="/Admin/ACompany/CompanyAccounts?comId=' + obj.aData[0] + '" class="btn default btn-xs purple"><i class="fa fa-edit"></i> 管理帐号</a> ' + '<a href="/Admin/ACompany/CompanyChangeState/' + obj.aData[0] + '" class="btn default btn-xs purple"><i class="fa fa-edit"></i> 禁用</a>'
                                        }
                                        else {
                                            result = result + '<button disabled class="btn default btn-xs grey"><i class="fa fa-edit"></i> 管理帐号</button> ' + '<a href="/Admin/ACompany/CompanyChangeState/' + obj.aData[0] + '" class="btn default btn-xs green"><i class="fa fa-edit"></i> 恢复</a>';
                                        }

                                        return result;
                                    }
                                }
                ],
            });
            function RefreshTable(tableId, urlData) {
                $.getJSON(urlData, null, function (json) {
                    table = $(tableId).dataTable();
                    oSettings = table.fnSettings();
                    table.fnClearTable(this);
                    for (var i = 0; i < json.aaData.length; i++) {
                        table.oApi._fnAddData(oSettings, json.aaData[i]);
                    }
                    oSettings.aiDisplay = oSettings.aiDisplayMaster.slice();
                    table.fnDraw();
                });
            }
        });
        </script>
    }
