
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@using Webdiyer.WebControls.Mvc;
@using FenXiao.Model
@model PagedList<User>

<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">
            后台管理 <small>网站管理人员管理</small>
        </h3>
        <ul class="page-breadcrumb breadcrumb">
            <li class="btn-group">
                <a class="btn blue pull-right" href="/admin/ASiteManager/EditAccount">
                    <span>创建帐号</span>
                </a>
            </li>
            <li>
                <i class="fa fa-home"></i>
                <a href="/Admin/AHome/Index">主页</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">网站管理人员</a>
            </li>
        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN SAMPLE TABLE PORTLET-->
        <div class="portlet">
            <div class="portlet-title">
                <div class="caption"><i class="fa fa-bell-o"></i>管理人员列表</div>
            </div>
            <div class="portlet-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-advance table-hover">
                        <thead>
                            <tr>
                                <th><i class="fa fa-briefcase"></i> 名字</th>
                                <th><i class="fa fa-shopping-cart"></i> 电话</th>
                                <th><i class="fa fa-gavel"></i> 邮箱 </th>
                                <th><i class="fa fa-gavel"></i> 帐号类型 </th>
                                <th><i class="fa fa-gavel"></i>状态</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="highlight">
                                        <div class="warning"></div>
                                        <span style="margin-left:1em;"> @item.Name</span>
                                    </td>
                                    <td>@item.Phone</td>
                                    <td>@item.Email</td>
                                    <td>@(item.Role.Contains("0") ? "总帐号" : "子账号") </td>
                                    <td>
                                        @if(item.Role.Contains("0")){ 
                                            <a class="btn default btn-xs purple disabled"><i class="fa fa-edit"></i>总账号 无法冻结</a>
                                        }
                                        else {
                                            if (item.State == (int)EnumUser.zhengchang){
                                                 <button onclick="Delete(@item.Id)" class="btn default btn-xs red"><i class="fa fa-edit"></i>冻结此帐号</button>
                                            }
                                            else {
                                                <button onclick="Delete(@item.Id)" class="btn default btn-xs green"><i class="fa fa-edit"></i>恢复此帐号</button>
                                            }
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div style="text-align:center; margin-left:-2em;">
                @Html.Pager(Model, new PagerOptions
                 {
                     HorizontalAlign = "center",
                     ShowFirstLast = true,
                     FirstPageText = "首页",
                     LastPageText = "尾页",
                     CssClass = "pagination pagination-lg",
                     NavigationPagerItemWrapperFormatString = "<li>{0}</li>",
                     ContainerTagName = "ul",
                     PageIndexParameterName = "id",
                     ShowPageIndexBox = false,
                     PrevPageText = "<<",
                     NumericPagerItemCount = 10,
                     Id = "pages",
                     NextPageText = ">>",
                     CurrentPagerItemWrapperFormatString = "<li class=\"active\"> <a>{0}</a> </li>",
                     NumericPagerItemWrapperFormatString = "<li> {0}</li>",
                 }, new { style = "margin-top:2em;margin-bottom:2em" })
            </div>
        </div>
        <!-- END SAMPLE TABLE PORTLET-->
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        function Delete(id) {
            if (confirm("确认操作?") == false)
                return;
            $.ajax({
                url: "/Admin/ASiteManager/ChangeAccountState",
                type: "POST",
                data: {
                    id: id
                },
                beforeSend: function (XMLHttpRequest) {
                },
                success: function (data, textStatus) {
                    var object = $.parseJSON(data);
                    if (object.Ok == 1) {
                        location.reload();
                    } else {
                        alert(object.Msg);
                    }
                },
                error: function () {
                    alert("好像出错了，请刷新页面重试");
                }
            })
        }
    </script>
}