@model Product
@{
    Layout = "~/Areas/Wholesaler/Views/Shared/_Layout.cshtml";
}

<div class="h60"></div>
<div class="part">
    <p class="position">◆当前位置： 线路管理 &gt;&gt; 快速编辑线路</p>
    <!--搜索结果区域-->
    <div class="search_input_result_tab">
        <p>所选订单</p>
    </div>
    <div class="line_details_title">
        <div class="title_left">
            <h1><a href="#"><small>No.@(Model.Id)　</small>@Model.Name</a></h1>
            <p>当前线路总人数：<span class="f-lightblue">@Model.Count</span></p>
            <p>当前线路卖出数：<span class="f-lightblue" style="color:red">@(Model.Count-Model.RemainCount)</span>　　　</p>
            <p style="color:red">修改数量不能低于卖出数量!</p>
        </div>
        <div class="title_right">
            <div class="title_right_others">
                <p class="price">成人价：<span class="number">￥@Model.ChengRenPrice</span>元</p>
                <p class="price">儿童价：<span class="number">￥@Model.ErTongPrice</span>元</p>
            </div>
            <b class="waveline"></b>
        </div>
        <div class="h30 clear"></div>
        <hr>
        <div class="order_input">
            <div class="admin_part_add">
                <form action="/Wholesaler/WHome/EditCount" method="post">
                    <div class="single_item">
                        <div class="left_item">
                            <span> 修改成：</span>
                        </div>
                        <div class="right_item">
                            <input value="0" type="text" name="count">人
                        </div>
                    </div>
                    <input type="text" value="@Model.Id" name="id" style="display:none" />
                    <div class="single_item_btn">
                        <input class="btn_sub" value="确认修改" type="submit" />
                        <a onclick="history.back();"><span class="btn_cancel">取消添加</span></a>
                        <span style="color:red">@ViewBag.error</span>
                        <div class="clear"></div>
                    </div>
                </form>
            </div>
            
           
        </div>
    </div>

</div>