@model OrderForm
@{
    Layout = "~/Areas/Wholesaler/Views/Shared/_Layout.cshtml";
}
<div class="h60"></div>
<div class="part">
    <p class="position">◆当前位置：线路管理>>当前路线管理>>订单详情</p>
    <!--订单信息板块-->
    <div class="line_order_details">
        <div class="single_tab"><p>当前订单信息</p></div>
        <div class="line_order_body">
           
    @if (Model.State == (int)EnumOrderForm.xiadingdan)
    { <p class="single">
        订单号：　<span>@Model.Id</span>　　　下单时间：<span>@Model.CreateTime</span>　　　　订单状态：
        <span class="f-green">待收款</span>
    </p>
    }
    else
    {
        <p class="single">
            订单号：　<span>@Model.Id</span>　　　下单时间：<span>@Model.CreateTime</span>　　　　订单状态：
            <span class="f-green">已收款</span>
        </p>
    }
            <p class="single">下单人员公司：<span>@Model.User.Company.CompanyName　　电话：@Model.Company.Phone && @Model.Company.ZuoJi</span>
            <p class="single">下单人员联系方式：<br /><span class="ml100">@Model.User.Name　　电话：@Model.User.Phone</span></p>
            <hr>
            <p class="single">所属线路：<a class="f-lightblue" href="/Wholesaler/WHome/MyLuXianDetail/@Model.Product.Id">@Model.Product.Name</a></p>
            <p class="single">批发商联系方式：<br /><span class="ml100">@Model.Company.CompanyName　　电话：@Model.Company.CompanyPhone</span></p>
            @if (Model.State == (int)EnumOrderForm.chulidingdan)
            {
                foreach (var item in Model.HandleOrderForms)
                {
                    <p class="single">处理订单人员信息：<br /><span class="ml100">@item.User.Name　　电话：@item.User.Phone</span><span>处理时间:@item.CreateTime</span></p>
                }
            }
            <hr>
            <p class="single">
                具体采购信息：<br />
                <table class="center table_withline">
                    <thead>
                        <tr>
                            <th>序号</th>
                            <th>商品种类</th>
                            <th>采购数量</th>
                            <th>采购价格</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>#1</td>
                            <td>成人票</td>
                            <td>@(Model.ChengRenCount)份</td>
                            <td>￥@Model.ChengRenPrice</td>
                        </tr>
                        <tr>
                            <td>#2</td>
                            <td>儿童票</td>
                            <td>@(Model.ErTongCount)份</td>
                            <td>￥@Model.ErTongPrice</td>
                        </tr>
                    </tbody>
                </table>
            </p>
            <p class="single_btn">
                <span class="company_btn">
                    <a href="/Wholesaler/WHome/LuXianmanagement?ProductId=@Model.ProductId">
                        返回
                    </a>
                </span>
                @if (Model.State == (int)EnumOrderForm.xiadingdan)
                {
                    <span class="company_btn">
                        <a href="/Wholesaler/WHome/HandleOrder?id=@Model.Id">确认收款</a>
                    </span>
                }
            </p>
        </div>
    </div>
</div>
