@model ReturnForm
@{
    Layout = "~/Areas/Wholesaler/Views/Shared/_Layout.cshtml";
}
<div class="h60"></div>
<div class="part">
    <p class="position">◆当前位置：线路管理>>当前路线管理>>退货单详情</p>
    <!--订单信息板块-->
    <div class="line_order_details">
        <div class="single_tab"><p>退货单信息</p></div>
        <div class="line_order_body">
            <p class="single">退货单号：　<span>@Model.Id</span>　　　发单时间：<span>@Model.CreateTime</span>　　　　订单状态：
            @if (Model.State==(int)EnumReturnForm.xiatuidan)
            {
                <span class="f-orange">待确认</span>
            }
            else if (Model.State == (int)EnumReturnForm.quxiaodingdan)
            {
                <span class="f-orange">已拒绝</span>
            }
            else
            {
                <span class="f-orange">已通过</span>
            }
            </p>
            <p class="single">下单人员公司：<span>@Model.User.Company.CompanyName　　电话：@Model.Company.Phone && @Model.Company.ZuoJi</span>
            <p class="single">下单人员联系方式：<br /><span class="ml100">@Model.User.Name　　电话：@Model.User.Phone</span></p>
            <p class="single">
                理由：<span>@Model.Note</span>
            </p>
            <hr>
            <p class="single">所属线路：<a class="f-lightblue" href="#">@Model.Product.Name</a></p>
            <p class="single">批发商联系方式：<br /><span class="ml100">@Model.Company.CompanyName　　电话：@Model.Company.CompanyPhone</span></p>
            @if (Model.State != (int)EnumReturnForm.xiatuidan)
            {
                foreach (var item in Model.HandleReturnForms)
                {
                    <p class="single">处理订单人员：<br /><span class="ml100">@item.User.Name　　电话：@item.User.Phone</span></p>
                    <p class="single">理由：<br /><span class="ml100">@item.Reason</span></p>
                }
            }
            <hr>
            <p class="single">
                具体退货信息：<br />
                <table class="center table_withline">
                    <thead>
                        <tr>
                            <th>序号</th>
                            <th>座位种类</th>
                            <th>退货数量</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>#1</td>
                            <td>占位座位</td>
                            <td>@*@(Model.AllCount-Model.CustomerList.Count())*@份</td>
                        </tr>
                        <tr>
                            <td>#2</td>
                            <td>已确认信息座位</td>
                            <td>@*@(Model.CustomerList.Count())*@份</td>
                        </tr>
</table>
            </p>
            <p class="single">
                <span class="company_btn">
                    <a href="/Wholesaler/WHome/LuXianmanagement?ProductId=@Model.ProductId">
                        返回
                    </a>
                </span>
                @if (Model.State == (int)EnumReturnForm.xiatuidan)
                {
                    <span class="company_btn" style="background-color:green">
                        <a href="/Wholesaler/WHome/HandleReturnPage?id=@Model.Id&state=ok">同意退货</a>
                    </span>
    <span class="company_btn" style="background-color:red">
        <a href="/Wholesaler/WHome/HandleReturnPage?id=@Model.Id&state=no">拒绝退货</a>
    </span>
                }
            </p>
        </div>
    </div>
</div>	