@model PagedList<Product>
@{
    Layout = null;
}
@foreach (var item in Model)
{
    <tr>
        <td>@item.Id</td>
        <td>@item.Name</td>
        <td>@item.SendGroupTime</td>
        <td>@item.CreateTime</td>
        <td>@item.ChengRenPrice|@item.ErTongPrice</td>
        <td>@item.RemainCount|@item.Count</td>
        <td></td>
        <td>@item.Id</td>
    </tr>
}
<div style="text-align:center; margin-left:-2em;">
    @Html.Pager(Model, new PagerOptions
                 {
                     HorizontalAlign = "center",
                     ShowFirstLast = false,
                     CssClass = "pagination pagination-sm",
                     NavigationPagerItemWrapperFormatString = "<li>{0}</li>",
                     ContainerTagName = "ul",
                     PageIndexParameterName = "id",
                     ShowPageIndexBox = false,
                     PrevPageText = "<<",
                     NumericPagerItemCount = 3,
                     Id = "pages",
                     NextPageText = ">>",
                     CurrentPagerItemWrapperFormatString = "<li class=\"active\"> <a>{0}</a> </li>",
                     NumericPagerItemWrapperFormatString = "<li> {0}</li>",
                 }, new { style = "margin-top:2em;margin-bottom:2em" })
</div>