<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=10,IE=9" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="renderer" content="webkit" />
    <link type="text/css" rel="stylesheet" href="/css/base.css" />
    <link type="text/css" rel="stylesheet" href="/css/common.css" />
    <link type="text/css" rel="stylesheet" href="/css/saler.css" />
    <script type="text/javascript" src="~/Scripts/jquery-1.8.2.min.js"></script>
    @RenderSection("styles", required: false)
    <title>批发商-旅游分销</title>
</head>

<body class="saler common">
    <div style="" id="loading"></div>
    <div id="loadingImg">
        <img src="~/images/loading.gif" />
    </div>
    <div class="header">
        <div class="logo">
            <a href="/Wholesaler/WHome/MyLuXian">
            <img src="/images/index_logo.png" /></a>
        </div>
        <div class="pleft">
            <p>
                <a>
                    <em>@FenXiao.Web.Common.FenXiaoUserContext.Current.UserInfo.Name</em>
                    (<span>批发商</span>)
                </a>
            </p>
            <p><a href="/Wholesaler/WMessage/Index">
                未读消息(<span style="color:red">@FenXiao.Web.Common.Message.GetWholesalerCount()</span>)条
                </a>
            </p>
        </div>
        <div class="prun" id="RunContainer">

        </div>
        <div class="pright">
            <p title="占位行">　</p>
            <p>
                <a href="/Wholesaler/WAuth/Editinfo">设置</a><i></i>
                <a href="/Wholesaler/WMessage/Help">帮助</a><i></i>
                <a href="/Wholesaler/WAuth/ConvertRole">切换角色</a><i></i>
                <a href="/Wholesaler/WAuth/Logout">退出</a>
            </p>
        </div>
    </div>
   
    <div class="left">
        <div class="h60"></div>
        <ul class="nav" id="Menu">
            <li>
                <a href="/Wholesaler/WHome/CreateLuXian" class="title">
                    <i class="i-flag"></i>发布线路
                </a>
            </li>
            <li class="active">
                <a class="title" href="/Wholesaler/WHome/MyLuXian">
                    <i class="i-control"></i>我的线路
                </a>
            </li>
            <li>
                <a class="title"><i class="i-dingdan"></i>订单管理</a>
                <ul>
                    <li>
                        <a href="/Wholesaler/WOrder/HandlingOrderView">占位订单</a>
                    </li>
                    <li>
                        <a href="/Wholesaler/WOrder/HandledOrderView">直接订单</a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="title"><i class="i-tuikuan"></i>退单管理</a>
                <ul>
                    <li>
                        <a href="/Wholesaler/WOrder/HandlingReturnOrderView">待审核</a>
                    </li>
                    <li>
                        <a href="/Wholesaler/WOrder/HandledReturnOrderView">已审核</a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="title"><i class="i-shouji"></i>微信管理</a>
                <ul>
                    <li><a href="/Wholesaler/WWeChat/Index">可用营销页</a></li>
                    <li><a href="/Wholesaler/WWeChat/Management">管理营销页</a></li>
                </ul>
            </li>
            <li>
                <a href="/Wholesaler/WHome/Member" class="title">
                    <i class="i-manger"></i>公司管理
                </a>
            </li>
        </ul>
    </div>
    <div class="right">
        @RenderBody()
    </div>
    <!--清除浮动-->
    <div class="clear"></div>
    
    @*<script src="~/Scripts/jquery-2.1.1.min.js"></script>*@
    
    @*<script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")"></script>*@
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")"></script>
    @RenderSection("scripts", required: false)
    <script type="text/javascript" src="/js/lee_checkBroswer.js"></script>
    <script type="text/javascript" src="/js/saler.js"></script>
    <script type="text/javascript" src="/js/runlight.js"></script>
    <script type="text/javascript">
        window.onload = init();
        new RunLight("RunContainer");
    </script>
   
    </body>
</html>
