@using FenXiao.Model
@model List<OrderForm>
<table class="table" id="LineOrder">
    <thead>
        <tr>
            <th>#序号</th>
            <th>线路名称</th>
            <th>线路发团日期</th>
            <th>订货数量</th>
            <th>下单时间</th>
            <th>订单类型</th>
            <th>订单详情</th>
        </tr>
    </thead>
    <tbody class="fs08 tcenter">
        @for(int i=0;i<Model.Count;i++)
        { 
        <tr>
            <td>@(i+1)</td>
            <td>@Model[i].Product.Name</td>
            <td>@Model[i].Product.SendGroupTime.ToString("yyyy年MM月dd日")</td>
            <td>@Model[i].AllCount （位）</td>
            <td>@Model[i].CreateTime</td>
            @if (Model[i].State == (int)EnumOrderForm.ReserveNowOrder)
            {
                <td>占位订单</td>
            }
            else if (Model[i].State == (int)EnumOrderForm.DirectApplyOrder)
            {
                <td>
                    <span>直接订单</span>
                    <br />
                    <span style="color:#00FF7F">下单成功</span>
                </td>
            }
            else
            {
                <td>
                    <span>直接订单</span>
                    <br />
                    <span style="color:#8A2BE2">正在编辑</span>
                </td>
            }
<td><a href="~/Marketer/MLine/CommonOrderDetail?Id=@Model[i].Id"><span class="btn_sub">查看详情</span></a></td>
        </tr>
        }
    </tbody>
</table>