@section title{
    <title>零售商-线路管理-线路订单管理-订单详情</title>
}
@using FenXiao.Model
@model OrderForm
<!--60px占高层-->
<div class="h60"></div>
<div class="part">
    <p class="position">◆当前位置：线路管理>>当前路线管理>>订单详情</p>
    <!--订单信息板块-->
    <div class="line_order_details">
        <div class="single_tab"><p>当前订单信息</p></div>
        <div class="line_order_body">
            <p class="single">订单号：　<span>@Model.Id</span>　　　下单时间：<span>@Model.CreateTime</span>　　　　
            <p class="single">下单人员：<span>@Model.User.Name</span>
            </p>
            <p class="single">下单人联系方式：<span>@Model.User.Phone</span></p>
            <p class="single">
                订单成员信息：<br />
                @foreach (var item in Model.CustomerInfoes)
                {
                    <span class="ml100">姓名：@item.Name　备注：@item.Phone</span>
                }

            </p>
            <hr />
            <p class="single">所属线路：<a class="f-lightblue" href="~/Marketer/MHome/LineDetail?Id=@Model.Product.Id">@Model.Product.Name</a></p>
            <p class="single">批发商联系方式：<span>@(Model.Company.CompanyName + "    电话：" + Model.Company.CompanyPhone)</span></p>
            <hr />
            <p class="single">
                具体采购信息：<br/>
                <table class="center table_withline">
                    <thead>
                        <tr>
                            <th>序号</th>
                            <th>商品种类</th>
                            <th>采购数量</th>
                            <th>采购单价</th>
                            <th>采购总价</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>#1</td>
                            <td>成人票</td>
                            <td>@Model.ChengRenCount 份</td>
                            <td>￥@Model.ChengRenPrice</td>
                            <td>￥@(Model.ChengRenCount * Model.ChengRenPrice)</td>
                        </tr>
                        <tr>
                            <td>#2</td>
                            <td>儿童票</td>
                            <td>@Model.ErTongCount 份</td>
                            <td>￥@Model.ErTongPrice</td>
                            <td>￥@(Model.ErTongCount * Model.ErTongPrice)</td>
                        </tr>
                    </tbody>
                </table>
            </p>
            <p class="single"><span class="company_btn" onclick="history.back();">返回所属路线</span></p>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        LeftMenuSelect(1);
    </script>
}