@using FenXiao.Web.Extension
@using FenXiao.Web.Common
@using FenXiao.Model;
@using Webdiyer.WebControls.Mvc
@model PagedList<ChildProduct>
@section title{
    <title>零售商-线路管理</title>
<link href="~/assets/bootstrap.min.css" rel="stylesheet" />
}
<!--60px占高层-->
<div class="h60"></div>
<div class="part">
    <p class="position">◆当前位置：我的线路</p>
    <div class="search_total" style="margin-top:10px;">
        <div class="details_part">
            <div class="top_line">
                <p>
                    <input type="text" placeholder="输入线路号" id="ProductId">
                    <input type="submit" value="线路搜索" />
                    <a class="show_details" onclick="ShowSearchDetails(this);">更多搜索条件<small>∨</small></a>
                </p>
            </div>
            <div class="second_line" id="SecondLink_Details">
                <p>
                    <span>
                        发团时间：
                        <input value="" type="text" name="sst" id="datepicker1" readonly> 至　
                        <input value="" type="text" name="set" id="datepicker2" readonly>
                    </span>
                    <span class="second_line_ct">
                        创建时间：
                        <input value="" type="text" name="cst" id="datepicker3" readonly> 至　
                        <input value="" type="text" name="cet" id="datepicker4" readonly>
                    </span>
                </p>
                <p>
                    线路编号：
                    <input type="text" id="luxianid" name="luxianid">
                    <span class="second_line_rn">
                        　热度：
                        <select name="resetnum" id="restnumid">
                            <option value="0" selected="selected">全部</option>
                            <option value="1">最热</option>
                            <option value="2">正常</option>
                        </select>
                    </span>
                    <span class="serach_btn">
                        <input type="submit" value="搜索线路" />
                    </span>
                </p>
            </div>
        </div>
    </div>
    <!--路线管理板块-->
    <div class="line_manage">
        <div class="line_manage_infor" id="ManageInfor">
            <div class="h30"></div>
            <!--正在出售-->
            <table class="table" id="SellingTable">
                <thead>
                    <tr>
                        <th>线路编号</th>
                        <th>线路名称</th>
                        <th>发团日期</th>
                        <th>订购数量</th>
                        <th>快捷入口</th>
                        <th>相应操作</th>
                    </tr>
                </thead>
                <tbody class="fs08 tcenter" id="dingdan">
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        <tr>
                            <td>@Model[i].ProductId</td>
                            <td>@Model[i].Product.Name</td>
                            <td>@Model[i].Product.SendGroupTime.ToString("yyyy年MM月dd日")</td>
                            <td>@Model[i].AllCount</td>
                            <td>
                                @if (Model[i].Product.FuJian.Equals("[]") || string.IsNullOrEmpty(Model[i].Product.FuJian))
                                {
                                    <span class="company_btn" style="background-color:green">无附件</span>
                                }
                                else
                                {
                                    <span class="company_btn"><a href="/Home/DownLuXian/@Model[i].ProductId" target="_blank">下载路线</a> </span>
                                }
                            </td>
                            <td>
                                <a href="~/Marketer/MLine/Order?Id=@Model[i].Id">
                                    <span class="company_btn"><i class="i-manage"></i>查看详情</span>
                                </a>
                            </td>
                        </tr>
                    }
                    <div style="text-align:center; margin-left:-2em;">
                        @Html.Pager(Model, new PagerOptions
                 {
                     HorizontalAlign = "center",
                     ShowFirstLast = false,
                     CssClass = "pagination pagination-sm",
                     NavigationPagerItemWrapperFormatString = "<li>{0}</li>",
                     ContainerTagName = "ul",
                     PageIndexParameterName = "id",
                     ShowPageIndexBox = false,
                     PrevPageText = "<<",
                     NumericPagerItemCount = 3,
                     Id = "pages",
                     NextPageText = ">>",
                     CurrentPagerItemWrapperFormatString = "<li class=\"active\"> <a>{0}</a> </li>",
                     NumericPagerItemWrapperFormatString = "<li> {0}</li>",
                 }, new { style = "margin-top:2em;margin-bottom:2em" })
                    </div>
                </tbody>
            </table>
        </div>
    </div>
</div>
@section scripts{
<script type="text/javascript">
    function search(btu) {
        if ($(btu).hasClass('stop')) {
            return false;
        }
        var regBox = {
            regCount: /^[1-9]\d*$/
        }

        if ($("#ProductId").val() == '') {
            alert('订单号不能为空');
            return false;
        }
        else if (!regBox.regCount.test($("#ProductId").val())) {
            alert('订单号必须为大于零的整数');
            return false;
        }

        $.ajax({
            url: "/Marketer/MLine/LineParialView",
            type: "get",
            data: {
                ProductId: $("#ProductId").val(),
            },
            beforeSend: function (XMLHttpRequest) {
                $(btu).html("搜索中...");
                $(btu).addClass('stop');
            },
            success: function (data, textStatus) {
                $("#dingdan").html(data);
            },
            complete: function (XMLHttpRequest, textStatus) {
                $(btu).html("订单搜索");
                $(btu).removeClass('stop');
            },
            error: function () {
                alert("好像出错了，请刷新页面重试");
            }
        });
    }
</script>

    <script type="text/javascript">
        LeftMenuSelect(1);
    </script>
}