@using FenXiao.Web.Extension
@using FenXiao.Web.Common
@using FenXiao.Model;
@using Webdiyer.WebControls.Mvc
@model PagedList<ChildProduct>
@section title{
    <title>零售商-线路管理</title>
<link href="~/assets/bootstrap.min.css" rel="stylesheet" />
}
<!--60px占高层-->
<div class="h60"></div>
<div class="part">
    <p class="position">◆当前位置：线路管理</p>
    <!--公司信息板块-->
    <div class="company_total">
        <img class="company_logo" src="~/images/625185514.png">
        <div class="company_infor">
            <div class="company_infor_up">
                <p class="company_infor_name">
                    @FenXiaoUserContext.Current.UserInfo.Company.CompanyName
                    <span class="company_type">账号类别：零售商</span>
                </p>
            </div>
            <div class="company_infor_down">
                <span class="company_member">已购买线路：<span class="f-orange">@ViewBag.IsOk</span></span>
            </div>
        </div>
    </div>
    <!--路线管理板块-->
    <div class="line_manage">
        <div class="line_manage_nav" id="ManageNav">
            <ul>
                <li class="choosed"><span>采购路线</span></li>
            </ul>
        </div>
        <div class="line_manage_infor" id="ManageInfor">
            <div class="h30"></div>
            <!--正在出售-->
            <table class="table" id="SellingTable">
                <thead>
                    <tr>
                        <th>#序号</th>
                        <th>线路名称</th>
                        <th>发团日期</th>
                        <th>儿童数量</th>
                        <th>成人数量</th>
                        <th>快捷入口</th>
                        <th>相应操作</th>
                    </tr>
                </thead>
                <tbody class="fs08 tcenter">
                  @for (int i = 0; i < Model.Count; i++)
                  { 
                    <tr>
                        <td>@(i+1)</td>
                        <td>@Model[i].Product.Name</td>
                        <td>@Model[i].Product.SendGroupTime.ToString("yyyy年MM月dd日，HH点mm分")</td>
                        <td>@Model[i].ErTongCount</td>
                        <td>@Model[i].ChengRenCount</td>
                        <td>
                            @if (Model[i].Product.FuJian.Equals("[]")||string.IsNullOrEmpty(Model[i].Product.FuJian))
                            {
                                <span class="company_btn" style="background-color:green">无附件</span>
                            }
                            else
                            {
                                <span class="company_btn"><a href="/Home/DownLuXian/@Model[i].ProductId"  target="_blank">下载路线</a> </span>
                            }
                        </td>
                        <td>
                            <a href="~/Marketer/MOrder/Order?Id=@Model[i].Id">
                                <span class="company_btn"><i class="i-manage"></i>查看详情</span>
                            </a>
                        </td>
                    </tr>
                  }
                    <div style="text-align:center; margin-left:-2em;">
                        @Html.Pager(Model, new PagerOptions
                 {
                     HorizontalAlign = "center",
                     ShowFirstLast = false,
                     CssClass = "pagination pagination-sm",
                     NavigationPagerItemWrapperFormatString = "<li>{0}</li>",
                     ContainerTagName = "ul",
                     PageIndexParameterName = "id",
                     ShowPageIndexBox = false,
                     PrevPageText = "<<",
                     NumericPagerItemCount = 3,
                     Id = "pages",
                     NextPageText = ">>",
                     CurrentPagerItemWrapperFormatString = "<li class=\"active\"> <a>{0}</a> </li>",
                     NumericPagerItemWrapperFormatString = "<li> {0}</li>",
                 }, new { style = "margin-top:2em;margin-bottom:2em" })
                    </div>
                </tbody>
            </table>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        LeftMenuSelect(1);
    </script>
}