@using FenXiao.Model
@model List<CustomerInfo>
<form action="\Marketer\MHome\AddPeople" method="post">
    <table class="table" id="LineMember">
        <thead>
            <tr>
                <th>#序号</th>
                <th>姓名</th>
                <th>邮箱</th>
                <th>性别</th>
                <th>联系方式</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody class="fs08 tcenter">
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td>@(i + 1)</td>
                    <td>@Model[i].Name</td>
                    <td>@Model[i].Email</td>
                    @if (Model[i].Sex == 0)
                    {
                        <td>男</td>
                    }
                    else
                    {
                        <td>女</td>
                    }
                    <td>@Model[i].Phone</td>
                    <td><a href="~/Marketer/MHome/DelPeople?Id=@Model[i].Id"><span class="btn_cancel">删除该成员</span></a></td>
                </tr>
            }
            @*
            <tr>
                <td>添加新成员</td>
                <td hidden="hidden"><input type="text" name="ChildProductId" value="@ViewBag.Id"></td>
                <td><input type="text" name="Name" placeholder="输入成员姓名"></td>
                <td><input type="text" name="Email" placeholder="输入邮箱"></td>
                <td>
                    <select name="Sex">
                        <option value="0">男</option>
                        <option value="1">女</option>
                    </select>
                </td>
                <td><input type="text" name="Phone" placeholder="输入联系方式"></td>
                <td><button type="submit" class="btn_sub" onsubmit="LineMemberSub(this)">确认添加</button></td>
            </tr>
                *@
        </tbody>
    </table>
</form>