@using FenXiao.Model
@model List<CustomerInfo>
<table class="table" id="LineMember">
    <tbody class="fs08 tcenter">
        <tr>
            <td>
                <div class="member_blank">
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        <div class="member_item" style="height:30px;">
                            <div class="member_item_head">
                                <span class="member_item_head_fold">展开本条</span>
                                <span class="member_item_head_id" hidden="hidden">@Model[i].Id</span>
                                <span style="margin-left: 10px;float: left;">#成员序号：@(i + 1) (共@(ViewBag.list.Count+ViewBag.ZhanWeiCount + Model.Count)位成员)</span>
                                <span style="margin-left: 5px;float: left;"> 成员姓名：@Model[i].Name</span>
                            </div>
                            <div class="member_item_body" style="display:none;">
                                <p>
                                    成员类型：<select name="Type" style="width:80px;margin-right:50px;" disabled="disabled">
                                        @if (Model[i].Type == 0)
                                        {
                                            <option value="0" selected="selected">成人</option>
                                            <option value="1">儿童</option>
                                        }
                                        else
                                        {
                                            <option value="0">成人</option>
                                            <option value="1" selected="selected">儿童</option>
                                        }
                                    </select>
                                    姓名：<input type="text" name="Name" value="@Model[i].Name" readonly="readonly" style="width:100px;margin-right:50px;">
                                    姓(拼音)：<input type="text" style="width: 70px; margin-right:50px;" readonly="readonly" name="PinYinXing" value="@Model[i].PinYinXing">
                                    名(拼音)：<input type="text" name="PinYinMing" value="@Model[i].PinYinMing" readonly="readonly" style="width:70px;">

                                </p>
                                <p>
                                    性别：<select name="Sex" style="width:80px;margin-right:45px;" disabled="disabled">
                                        @if (Model[i].Sex == 0)
                                        {
                                            <option value="0" selected="selected">男</option>
                                            <option value="1">女</option>
                                        }
                                        else
                                        {
                                            <option value="0">男</option>
                                            <option value="1" selected="selected">女</option>
                                        }
                                    </select>
                                    电话（选填）：<input type="text" name="Phone" readonly="readonly" style="width:85px;margin-right:25px;" value="@Model[i].Phone">
                                    生日：<input type="text" name="Birthday" readonly="readonly" style="width:80px;margin-right:64px;" value="@Model[i].Birthday">
                                    出生地：<input type="text" name="Birthplace" readonly="readonly" value="@Model[i].Birthplace">
                                </p>
                                <p>
                                    证照类型：<select name="ZhengZhaoType" disabled="disabled" style="width:80px;margin-right:45px;max-width:none;">
                                        @if (Model[i].ZhengZhaoType == 0)
                                        {
                                            <option value="0" selected="selected">身份证</option>
                                            <option value="1">护照</option>
                                            <option value="2">军人证</option>
                                            <option value="3">赴台证</option>
                                            <option value="4">港澳证</option>
                                        }
                                        else if (Model[i].ZhengZhaoType == 1)
                                        {
                                            <option value="0">身份证</option>
                                            <option value="1" selected="selected">护照</option>
                                            <option value="2">军人证</option>
                                            <option value="3">赴台证</option>
                                            <option value="4">港澳证</option>
                                        }
                                        else if (Model[i].ZhengZhaoType == 2)
                                        {
                                            <option value="0">身份证</option>
                                            <option value="1">护照</option>
                                            <option value="2" selected="selected">军人证</option>
                                            <option value="3">赴台证</option>
                                            <option value="4">港澳证</option>
                                        }
                                        else if (Model[i].ZhengZhaoType == 3)
                                        {
                                            <option value="0">身份证</option>
                                            <option value="1">护照</option>
                                            <option value="2">军人证</option>
                                            <option value="3" selected="selected">赴台证</option>
                                            <option value="4">港澳证</option>
                                        }
                                        else
                                        {
                                            <option value="0">身份证</option>
                                            <option value="1">护照</option>
                                            <option value="2">军人证</option>
                                            <option value="3">赴台证</option>
                                            <option value="4" selected="selected">港澳证</option>
                                        }
                                    </select>

                                    证照号：<input type="text" name="ZhengZhaoNumber" readonly="readonly" value="@Model[i].ZhengZhaoNumber" style="width:130px;max-width:none;">
                                </p>
                                <p>
                                    签发地：<input type="text" name="QianFaPlace" readonly="readonly" style="max-width: none;width: 140px;margin-right: 60px;" value="@Model[i].QianFaPlace">
                                    签发时间：<input type="text" name="QianFaTime" readonly="readonly" style="max-width: none;width: 120px;margin-right: 60px;" value="@Model[i].QiangFaTime">
                                    到期时间：<input type="text" name="DaoQiTime" readonly="readonly" style="max-width: none;width: 120px;" value="@Model[i].DaoQiTime">
                                </p>
                                <p>
                                    分房（选填）：<input type="text" readonly="readonly" style="width:615px;max-width:none;" name="FenFang" value="@Model[i].FenFang">
                                </p>
                                <p>
                                    备注（选填）：<input type="text" readonly="readonly" style="max-width:none;width:615px;" name="Note" value="@Model[i].Note">
                                </p>
                                <p style="text-align: center; color: #26A8FA;">
                                    <span class="editLink" style="margin-right:30px;margin-left:-205px;cursor:pointer;">编辑本条</span>
                                    <span class="member_item_head_del" style="cursor:pointer;">清空本条</span>
                                </p>
                            </div>
                        </div>
                    }
                    @for (int i = 0; i < ViewBag.list.Count; i++)
                    {
                        <div class="member_item" style="height:30px;">
                            <div class="member_item_head">
                                <span class="member_item_head_fold">展开本条</span>
                                <span class="member_item_head_id" hidden="hidden">@ViewBag.list[i].Id</span>
                                <span style="margin-left: 10px;float: left;">#成员序号：@(i + 1 + Model.Count) (共@(ViewBag.list.Count + ViewBag.ZhanWeiCount + Model.Count)位成员)</span>
                                <span style="margin-left: 5px;float: left;"> 成员姓名：@ViewBag.list[i].Name (本条信息已被锁定，不可修改，不可清空)</span>
                            </div>
                            <div class="member_item_body" style="display:none;">
                                <p>
                                    成员类型：<select name="Type" style="width:80px;margin-right:50px;" disabled="disabled">
                                        @if (ViewBag.list[i].Type == 0)
                                        {
                                            <option value="0" selected="selected">成人</option>
                                            <option value="1">儿童</option>
                                        }
                                        else
                                        {
                                            <option value="0">成人</option>
                                            <option value="1" selected="selected">儿童</option>
                                        }
                                    </select>
                                    姓名：<input type="text" name="Name" value="@ViewBag.list[i].Name" readonly="readonly" style="width:100px;margin-right:50px;">
                                    姓(拼音)：<input type="text" style="width: 70px; margin-right:50px;" readonly="readonly" name="PinYinXing" value="@ViewBag.list[i].PinYinXing">
                                    名(拼音)：<input type="text" name="PinYinMing" value="@ViewBag.list[i].PinYinMing" readonly="readonly" style="width:70px;">

                                </p>
                                <p>
                                    性别：<select name="Sex" style="width:80px;margin-right:45px;" disabled="disabled">
                                        @if (ViewBag.list[i].Sex == 0)
                                        {
                                            <option value="0" selected="selected">男</option>
                                            <option value="1">女</option>
                                        }
                                        else
                                        {
                                            <option value="0">男</option>
                                            <option value="1" selected="selected">女</option>
                                        }
                                    </select>
                                    电话（选填）：<input type="text" name="Phone" readonly="readonly" style="width:85px;margin-right:25px;" value="@ViewBag.list[i].Phone">
                                    生日：<input type="text" name="Birthday" readonly="readonly" style="width:80px;margin-right:64px;" value="@ViewBag.list[i].Birthday">
                                    出生地：<input type="text" name="Birthplace" readonly="readonly" value="@ViewBag.list[i].Birthplace">
                                </p>
                                <p>
                                    证照类型：<select name="ZhengZhaoType" disabled="disabled" style="width:80px;margin-right:45px;max-width:none;">
                                        @if (ViewBag.list[i].ZhengZhaoType == 0)
                                        {
                                            <option value="0" selected="selected">身份证</option>
                                            <option value="1">护照</option>
                                            <option value="2">军人证</option>
                                            <option value="3">赴台证</option>
                                            <option value="4">港澳证</option>
                                        }
                                        else if (ViewBag.list[i].ZhengZhaoType == 1)
                                        {
                                            <option value="0">身份证</option>
                                            <option value="1" selected="selected">护照</option>
                                            <option value="2">军人证</option>
                                            <option value="3">赴台证</option>
                                            <option value="4">港澳证</option>
                                        }
                                        else if (ViewBag.list[i].ZhengZhaoType == 2)
                                        {
                                            <option value="0">身份证</option>
                                            <option value="1">护照</option>
                                            <option value="2" selected="selected">军人证</option>
                                            <option value="3">赴台证</option>
                                            <option value="4">港澳证</option>
                                        }
                                        else if (Model[i].ZhengZhaoType == 3)
                                        {
                                            <option value="0">身份证</option>
                                            <option value="1">护照</option>
                                            <option value="2">军人证</option>
                                            <option value="3" selected="selected">赴台证</option>
                                            <option value="4">港澳证</option>
                                        }
                                        else
                                        {
                                            <option value="0">身份证</option>
                                            <option value="1">护照</option>
                                            <option value="2">军人证</option>
                                            <option value="3">赴台证</option>
                                            <option value="4" selected="selected">港澳证</option>
                                        }
                                    </select>

                                    证照号：<input type="text" name="ZhengZhaoNumber" readonly="readonly" value="@ViewBag.list[i].ZhengZhaoNumber" style="width:130px;max-width:none;">
                                </p>
                                <p>
                                    签发地：<input type="text" name="QianFaPlace" readonly="readonly" style="max-width: none;width: 140px;margin-right: 60px;" value="@ViewBag.list[i].QianFaPlace">
                                    签发时间：<input type="text" name="QianFaTime" readonly="readonly" style="max-width: none;width: 120px;margin-right: 60px;" value="@ViewBag.list[i].QiangFaTime">
                                    到期时间：<input type="text" name="DaoQiTime" readonly="readonly" style="max-width: none;width: 120px;" value="@ViewBag.list[i].DaoQiTime">
                                </p>
                                <p>
                                    分房（选填）：<input type="text" readonly="readonly" style="width:615px;max-width:none;" name="FenFang" value="@ViewBag.list[i].FenFang">
                                </p>
                                <p>
                                    备注（选填）：<input type="text" readonly="readonly" style="max-width:none;width:615px;" name="Note" value="@ViewBag.list[i].Note">
                                </p>                               
                            </div>
                        </div>
                    }
                    @for (int i = 0; i < ViewBag.ZhanWeiLockCount; i++)
                    {
                        <div class="member_item" style="height:30px;">
                            <div class="member_item_head">
                                <span class="member_item_head_fold">编辑本条</span>
                                <span class="member_item_head_id" hidden="hidden">-1</span>
                                <span style="margin-left: 10px;float: left;">#成员序号：@(i + Model.Count + ViewBag.list.Count + 1) (共@(ViewBag.list.Count + ViewBag.ZhanWeiCount + Model.Count)位成员)</span>
                                <span style="margin-left: 5px;float: left;"> （该条信息已被锁定，不可添加信息）</span>
                            </div>
                            <div class="member_item_body" style="display:none;">
                                <p>
                                    成员类型：<select name="Type" style="width:80px;margin-right:50px;">
                                        <option value="0">成人</option>
                                        <option value="1">儿童</option>
                                    </select>
                                    姓名：<input type="text" name="Name" style="width:100px;margin-right:50px;">
                                    姓(拼音)：<input type="text" style="width: 70px; margin-right:50px;" name="PinYinXing">
                                    名(拼音)：<input type="text" name="PinYinMing" style="width:70px;">
                                </p>
                                <p>
                                    性别：<select name="Sex" style="width:80px;margin-right:45px;">
                                        <option value="0">男</option>
                                        <option value="1">女</option>
                                    </select>
                                    电话（选填）：<input type="text" name="Phone" style="width:85px;margin-right:25px;">
                                    生日：<input type="text" name="Birthday" style="width:80px;margin-right:64px;">
                                    出生地：<input type="text" name="Birthplace" />
                                </p>
                                <p>
                                    证照类型：<select name="ZhengZhaoType" style="width:80px;margin-right:45px;max-width:none;">
                                        <option value="0">身份证</option>
                                        <option value="1">护照</option>
                                        <option value="2">军人证</option>
                                        <option value="3">赴台证</option>
                                        <option value="4">港澳证</option>
                                    </select>
                                    证照号：<input type="text" name="ZhengZhaoNumber" style="width:130px;max-width:none;">
                                </p>
                                <p>
                                    签发地：<input type="text" name="QianFaPlace" style="max-width: none;width: 140px;margin-right: 60px;">
                                    签发时间：<input type="text" name="QianFaTime" style="max-width: none;width: 120px;margin-right: 60px;">
                                    到期时间：<input type="text" name="DaoQiTime" style="max-width: none;width: 120px;">
                                </p>
                                <p>
                                    分房（选填）：<input type="text" style="width:615px;max-width:none;" name="FenFang">
                                </p>
                                <p>
                                    备注（选填）：<input type="text" style="max-width:none;width:615px;" name="Note">
                                </p>                                
                            </div>
                        </div>
                    }
                    @for (int i = 0; i < ViewBag.ZhanWeiCount; i++)
                    {
                        <div class="member_item" style="height:30px;">
                            <div class="member_item_head">
                                <span class="member_item_head_fold">编辑本条</span>
                                <span class="member_item_head_id" hidden="hidden">-1</span>
                                <span style="margin-left: 10px;float: left;">#成员序号：@(i + Model.Count + ViewBag.list.Count + ViewBag.ZhanWeiLockCount + 1) (共@(ViewBag.list.Count + ViewBag.ZhanWeiCount + Model.Count)位成员)</span>
                                <span style="margin-left: 5px;float: left;"> 该条信息尚未编辑</span>
                            </div>
                            <div class="member_item_body" style="display:none;">
                                <p>
                                    成员类型：<select name="Type" style="width:80px;margin-right:50px;">
                                        <option value="0">成人</option>
                                        <option value="1">儿童</option>
                                    </select>
                                    姓名：<input type="text" name="Name" style="width:100px;margin-right:50px;">
                                    姓(拼音)：<input type="text" style="width: 70px; margin-right:50px;" name="PinYinXing">
                                    名(拼音)：<input type="text" name="PinYinMing" style="width:70px;">
                                </p>
                                <p>
                                    性别：<select name="Sex" style="width:80px;margin-right:45px;">
                                        <option value="0">男</option>
                                        <option value="1">女</option>
                                    </select>
                                    电话（选填）：<input type="text" name="Phone" style="width:85px;margin-right:25px;">
                                    生日：<input type="text" name="Birthday" style="width:80px;margin-right:64px;">
                                    出生地：<input type="text" name="Birthplace" />
                                </p>
                                <p>
                                    证照类型：<select name="ZhengZhaoType" style="width:80px;margin-right:45px;max-width:none;">
                                        <option value="0">身份证</option>
                                        <option value="1">护照</option>
                                        <option value="2">军人证</option>
                                        <option value="3">赴台证</option>
                                        <option value="4">港澳证</option>
                                    </select>
                                    证照号：<input type="text" name="ZhengZhaoNumber" style="width:130px;max-width:none;">
                                </p>
                                <p>
                                    签发地：<input type="text" name="QianFaPlace" style="max-width: none;width: 140px;margin-right: 60px;">
                                    签发时间：<input type="text" name="QianFaTime" style="max-width: none;width: 120px;margin-right: 60px;">
                                    到期时间：<input type="text" name="DaoQiTime" style="max-width: none;width: 120px;">
                                </p>
                                <p>
                                    分房（选填）：<input type="text" style="width:615px;max-width:none;" name="FenFang">
                                </p>
                                <p>
                                    备注（选填）：<input type="text" style="max-width:none;width:615px;" name="Note">
                                </p>
                                <p style="text-align: center; color: #26A8FA;">
                                    <span class="member_item_head_save" style="margin-right:30px;margin-left:-205px;cursor:pointer;">保存修改</span>
                                </p>
                            </div>
                        </div>
                    }
                    <a href="~/Marketer/MLine/Report?Id=@ViewBag.Id"><span class="btn_sub" style="margin-top: 10px;">导出报表</span></a>
                </div>
            </td>
        </tr>
    </tbody>
</table>