@section title{
    <title>零售商-线路管理-线路订单管理-退订单</title>
}
<!--60px占高层-->
<div class="h60"></div>
<div class="part">
    <p class="position">◆当前位置： 线路管理 >> 发起退货</p>
    <!--搜索结果区域-->
    <div class="search_input_result_tab">
        <p>所选订单</p>
    </div>
    <div class="line_details_title">
        <div class="title_left">
            <h1><a href="~/Marketer/MHome/LineDetail?Id=@ViewBag.ChildProduct.ProductId"><small>No. @ViewBag.ChildProduct.Product.Id</small>@ViewBag.ChildProduct.Product.Name</a></h1>
            <p>批发商：<span class="f-lightblue">@ViewBag.ChildProduct.Product.User.Company.CompanyName</span></p>
            <p>发团时间：<span class="f-lightblue">@ViewBag.ChildProduct.Product.SendGroupTime.ToString("yyyy年MM月dd")</span>　　　可退数量：<span class="f-lightblue">@(ViewBag.ChildProduct.ZhanWeiCount)</span></p>
            <p>建议零售价：<span>@ViewBag.ChildProduct.Product.SuggestionPrice</span></p>
        </div>
        <div class="title_right">
            <div class="title_right_others">
                <p class="price">成人价：<span class="number">￥@ViewBag.ChildProduct.Product.ChengRenPrice</span>元</p>
                <p class="price">儿童价：<span class="number">￥@ViewBag.ChildProduct.Product.ErTongPrice</span>元</p>
            </div>
            <b class="waveline"></b>
        </div>
        <div class="h30 clear"></div>
        <hr>
        <div class="order_input">
            <input hidden="hidden" id="ProductId" name="Id" value="@ViewBag.ChildProduct.ProductId" />
            <input hidden="hidden" id="ChildProductId" name="Id" value="@ViewBag.ChildProduct.Id" />
            <p class="single">退货数量：<input id="ChengRenCount" name="ChengRenCount" type="text" value="0">人</p>
            <p class="single">理由：<textarea id="reason" name="reason" cols="60"></textarea>
            <p class="single">
                <a href="javascript:history.go(-1)"><span class="btn_cancel">取消</span></a> 
                <span id="submit" class="btn_cancel">确认退货</span>
            </p>
        </div>
    </div>
</div>
<!--/part结束-->
@section scripts{
    <script type="text/javascript">
        LeftMenuSelect(1);
    </script>
<script type="text/javascript">
    $("#submit").click(function () {
        var regBox = {
            regprice: /^[+-]?([0-9]*\.?[0-9]+|[0-9]+\.?[0-9]*)([eE][+-]?[0-9]+)?$/,
            regCount: /^[1-9]\d*$/
        }
        var ChengRenCount = $("#ChengRenCount").val();
        var ErTongCount = $("#ErTongCount").val();
        var Reason = $("#reason").val();
        if (ChengRenCount == '' && ErTongCount == '') {
            alert("数量不可为空！");
            return;
        }
        if (!regBox.regCount.test(ChengRenCount) && !regBox.regCount.test(ErTongCount)) {
            alert("数量必须为大于零的整数");
            return;
        }
        if (Reason == '') {
            alert("理由不可为空！");
            return;
        }
        $.ajax(
                 {
                     url: "/Marketer/MHome/ReturnOrder",
                     type: "POST",
                     data:
                         {
                             ProductId: $("#ProductId").val(),
                             ChildProductId: $("#ChildProductId").val(),
                             ChengRenCount: $("#ChengRenCount").val(),
                             ErTongCount: $("#ErTongCount").val(),
                             Reason: $("#reason").val()
                         },
                     beforeSend: function (XMLHttpRequest) {
                         $("#submit").html("正在提交，请不要关闭页面");
                         $("#submit").addClass('stop');
                     },
                     success: function (data, textStatus) {
                         if (data == "200") {
                             alert("订单提交成功");
                             window.location = "/Marketer/MHome/Order?Id=" + "@ViewBag.ChildProduct.Id"
                         } else if (data == "100") {
                             alert("数量超出");
                         } else {
                             alert("未知原因");
                         }
                     },
                     complete: function (XMLHttpRequest, textStatus) {
                         $("#submit").html("确认创建");
                         $("#submit").removeClass('stop');
                     },
                     error: function () {
                         alert("好像出错了，请刷新页面重试");
                     }
                 })
    });
</script>

}