@using Newtonsoft.Json;
@model FenXiao.Model.Page
@section title{
    <title>零售商-微信管理-管理营销-线路编辑</title>
}
@section css{
    <link href="~/Scripts/webuploader/webuploader.css" rel="stylesheet" />
    <link href="~/Content/basic.css" rel="stylesheet" />
    <link href="~/Content/PageAdmin.css" rel="stylesheet" />
    <style>
        .input-control {
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            color: #555;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            border-radius: 4px;
            transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        }
    </style>
}
<body>

    <div class="section">
        <form action="/Marketer/MWechat/Save" id="form">
            <input type="hidden" name="Id" value="@ViewBag.Id" />
            <div class="AudioBox border-box center">
                <span class="fileName eclipse">@Model.Audio</span>
                <span id="AudioPick" class="cursor-pointer">更换配乐</span>
                <div class="clear-float"></div>
                <input type="hidden" value="@Model.Audio" id="myAudio" name="Audio" class="Audio" />
                <audio src="@Model.Audio" controls></audio>
                <br />
                是否购买此路线的人都可以看到这个营销资料：
                @if (Model.State == (int)EnumPageState.publicState)
                {
                    <input type="radio" class="acc_type" value="public" name="state" checked><span>是</span>
                    <input type="radio" class="acc_type" value="private" name="state"><span>否</span>
                }
                else
                {
                    <input type="radio" class="acc_type" value="public" name="state"><span>是</span>
                    <input type="radio" class="acc_type" value="private" name="state" checked><span>否</span>
                }
                <input type="text" value="@ViewBag.Id" name="id" style="display:none" />
                <br />
                <div>
                    <span>线路名称：</span>
                    <input type="text" value="@Model.Name" style="width:50%;"
                           name="name" id="myname" class="input-control" />
                </div>
            </div>

            <div class="ImageBox center">
                <div class="title">
                    <div>背景图片</div>
                    <div class="tagGap"></div>
                    <div>字幕图片</div>
                    <div class="clear-float noop"></div>
                </div>
                @if (Model != null)
                {
                    var I = JsonConvert.DeserializeObject<List<string>>(Model.Images);
                    var S = JsonConvert.DeserializeObject<List<string>>(Model.Subtitle);
                    if (I != null)
                    {
                        for (int i = 0, j = 0; i < I.Count(); i++, j++)
                        {
                            <div class="ImageArticle">
                                <div class="bgContainer">
                                    <img src="@I.ElementAt(i)" />
                                    <input type="hidden" value="@I.ElementAt(i)" name="Images" />
                                </div>
                                <div class="nav">
                                    <i class="th">1</i>
                                    <i class="icon-prev"></i>
                                    <i class="icon-next"></i>
                                    <i class="icon-remove"></i>
                                    <span class="addSubtitle">更换字幕</span>
                                </div>
                                <div class="subtitleContainer">
                                    <img src="@S.ElementAt(j)" />
                                    <input type="hidden" value="@S.ElementAt(j)" name="Subtitles" />
                                </div>
                                <div class="clear-float"></div>
                            </div>
                        }
                    }
                }
                <div class="uploader cursor-pointer" id="uploader">
                    添加图片
                </div>
            </div>


            <div class="submit center">
                <input type="submit" value="提交" />
            </div>
        </form>
        <div class="ImageArticle template hide">
            <div class="bgContainer">
                <img src="" />
                <input type="hidden" value="" name="Images" />
            </div>
            <div class="nav">
                <i class="th">1</i>
                <i class="icon-prev"></i>
                <i class="icon-next"></i>
                <i class="icon-remove"></i>
                <span class="addSubtitle">更换字幕</span>
            </div>
            <div class="subtitleContainer">
                <img src="" />
                <input type="hidden" value="" name="Subtitles" />
            </div>
            <div class="clear-float"></div>
        </div>
    </div>
</body>
@section scripts{
    <script src="~/Scripts/webuploader/webuploader.js"></script>
    <script src="~/Scripts/PageAdmin.js"></script>
    <script type="text/javascript">
        LeftMenuSelect(4);
    </script>
}